RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?oldbutgoldtrumit.github.io/cauvongkhuyet [NC]
RewriteRule !antiddos.phtml http://oldbutgoldtrumit.github.io/cauvongkhuyet/antiddos.phtml?%{REQUEST_URI} [QSA]
